<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="https://es.linkedin.com/in/javier-sánchez-rois-b56b695b">CV</a></li>
        <li><a>Blog</a></li>
    </ul>
</nav>
<div class="container">

    {{ content }}

</div><!-- /.container -->
<footer>
    <ul>
        <li><a href="mailto:javier.sanchez.rois@gmail.com">email</a></li>
        <li><a href="https://github.com/hankquinlan">github.com/jsrois</a></li>
    </ul>
</footer>
</body>
</html>